html {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: 0.7;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

header {
  background: rgb(68, 68, 68);
  height: 100px;
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  color: rgb(199, 199, 199);
}

header .name {
  display: inline;
  margin-left: 20px;
}

header ul {
  margin-right: 20px;
}

.container {
  display: grid;
  grid-gap: 10px;
  margin-bottom: 10px;
}

.banner {
  width: 60%;
  height: 100vh;
  background: rgb(68, 68, 68);
  color: rgb(199, 199, 199);
  display: inline-grid;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  align-content: center;
  justify-content: end;
  z-index: 1;
}

.banner > * {
  margin-right: 50px;
  padding: 5px;
  text-align: end;
}

li {
  display: inline;
  margin: 0 10px;
}

.name {
  font-size: 4em;
  color: white;
}

.about {
  display: inline-grid;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  justify-self: end;
  align-self: center;
  width: 40%;
  font-size: 1.5em;
  position: absolute;
  animation-duration: 1s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    left: 0;
  }
  to {
    left: 60%;
  }
}

.about p {
  color: rgb(100, 100, 100);
  margin: 20px 30px;
}

.about a {
  color: black;
}

.about img {
  width: 50px;
  justify-self: center;
  display: inline-block;
  margin-right: 40px;
}

.about .links {
  justify-self: center;
  margin-top: 20px;
}

.intro {
  width: 40%;
  justify-self: center;
}

.intro > * {
  padding-top: 10px;
}

.intro a {
  color: blue;
}

.project {
  display: grid;
  height: 100%;
  width: 50%;
  border-radius: 10px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.25);
  justify-self: center;
}

.project > * {
  margin-left: 20px;
  padding: 5px 0;
}

.project-header {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  margin-top: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.project-links {
  justify-self: end;
}

.project-links a {
  margin-right: 20px;
}

.project .project-links > * {
  display: inline;
}

.project img {
  width: 80%;
  border-radius: 10px;
  margin-top: 10px;
  justify-self: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.contact-card {
  display: grid;
  grid-gap: 10px;
  height: 100%;
  width: 50%;
  border-radius: 10px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.25);
  justify-self: center;
  padding: 30px 0;
  align-items: center;
  justify-content: center;
}

.contact-card a {
  display: grid;
  align-items: center;
}
.contact-card img {
  width: 50px;
}
